<div class="container mt-4">
  <div class="display-4">
    Cart
  </div>
  <div class="alert alert-secondary" *ngIf="cart.items===null || cart.items.length===0; else cartItems">
    No items in cart. Use 'Add To Cart' to add items
  </div>
  <ng-template #cartItems>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of cart.items">
        <div class="row">
          <div class="col-lg-4">
            <label class="item">{{item.food.name}}</label>
          </div>
          <div class="col-lg-4">
            <button (click)="onDecrease(item.food.id)" >-</button>
            <input type="text" readonly [(ngModel)]="item.quantity" class="width-30">
            <button (click)="onIncrease(item.food.id)">+</button>
          </div>
          <div class="col-lg-4">
            <label class="float-right item">{{item.food.price*item.quantity | currency:'INR'}}</label>
          </div>
        </div>
        <label class="float-right">
          <i class="material-icons" (click)="onRemove(item.itemId)">
            delete_forever
          </i>
        </label>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-lg-6">
            <label class="font-size-25 bold">Total</label>
          </div>
          <div class="col-lg-6">
            <label class="float-right font-size-25 bold">{{cart.total | currency:'INR'}}</label>
          </div>
        </div>
      </li>
    </ul>
  </ng-template>
  <div class="row justify-content-start mt-3">
    <div class="col-12 col-md-12 col-lg-6">
      <a href="#" class="btn bg-orangered text-white" routerLink="/menu">Continue with shopping</a>
    </div>
  </div>
</div>