<div class="container mt-4">
  <div class="display-4">
    Cart
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-lg-6">
          <label class="item">Sandwich</label>
        </div>
        <div class="col-lg-6">
          <label class="float-right item">99.00</label>
        </div>
      </div>
      <label class="float-right">
        <i class="material-icons">
          delete_forever
        </i>
      </label>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-lg-6">
          <label class="font-size-25 bold">Total</label>
        </div>
        <div class="col-lg-6">
          <label class="float-right font-size-25 bold"> Rs. 99.00</label>
        </div>
      </div>
    </li>
  </ul>
</div>