*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.material-icons{
    vertical-align: middle;;
}
.text-maroon{
    color: maroon;
}
.font-size-12{
    font-size: 12px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-25{
    font-size: 25px;
}
.font-size-30{
    font-size: 30px;
}
.bg-orangered{
    background-color: orangered;
}
.btn{
    margin: 5px;
}
.width-60{
    width: 60px;
}