<div class="card">
    <img class="card-img-top" [src]='food.imgsrc' [alt]="food.name">
    <div class="row">
        <div class="col-12 mt-2" *ngIf="foodAdded">
            <div class="alert alert-success alert-dismissible fade show alert-msg" role="alert">
                Item added Successfully
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <h4 class="card-title col-8">{{food.name}}</h4>
            <label class="col-4 text-right text-maroon font-size-20">${{food.price}}</label>
        </div>
        <div class="container-fluid">
            <div class="card-text">
                <div class="row">
                    <div class="col-6">
                        <div class="badge bg-orangered text-white" *ngIf="food.active && isAdmin()">Active</div>
                        {{food.category}}
                    </div>
                    <div class="col-6 text-right" *ngIf="food.freeDelivery"><i class="material-icons">
                            local_shipping
                        </i>
                        <div class="badge badge-info ">Free</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 font-size-12" *ngIf="isAdmin()">
                        <i class="material-icons">
                            access_time
                        </i>Launch
                        <div>
                            {{food.dateOfLaunch | date:'dd/MM/yyyy'}}
                        </div>
                    </div>
                    <div class="col-4 d-flex justify-content-end" *ngIf="isAdmin()">
                        <a [routerLink]="['/editmenu',food.id]" class="btn bg-orangered  text-white">
                            <i class="material-icons">
                                edit
                            </i>
                            <label id="edit">Edit
                            </label>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-end" *ngIf="!isAdmin()">
                        <button class="btn bg-orangered text-white" (click)="onAddToCart(food.id)">
                            <i class="material-icons">
                                add_shopping_cart
                            </i>
                            <label id="addtocart">Add to Cart</label>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>