<nav class="navbar navbar-expand-lg navbar-dark bg-orangered">
  <a href="#" class="navbar-brand"><i class="material-icons">
      local_dining
    </i>truYum</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navcontent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navcontent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/menu" class="nav-link">Products</a>
      </li>
      <li class="nav-item">
        <a routerLink="/cart" class="nav-link">Cart</a>
      <li class="nav-item">
        <a routerLink="/login" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="/signup" class="nav-link">Sign Up</a>
      </li>
      <li class="nav-item"><a href="#" class="nav-link"><i class="material-icons">
            person
          </i>Admin</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Logout</a></li>
    </ul>
  </div>
</nav>